
<div class="details container">
    <div class="details-card-room-detail" *ngFor="let item of hoteles">
        <div class="details-card-room_detail">
            <div class="details-card-img_detail">
                <img src="{{item.img}}" alt="Sobre nosotros" title="Sobre nosotros">
                <div class="details-card-title_detail">
                    <div class="details-card-info-address_detail">
                        <p>
                            {{item.direccion}}
                        </p>
                    </div>
                    <p>
                        {{item.title}}
                    </p>

                    <div class="details-card-valoration_detail">
                        <span *ngFor="let value of counter(5); let i = index" style="width: 10px; height: 10px;">
                            <img *ngIf="i < item.valoration" src="../../../assets/imgs/icons/star2.svg"
                                alt="Valoración">
                            <img *ngIf="(i > item.valoration)||(i == item.valoration)"
                                src="../../../assets/imgs/icons/star1.svg" alt="Valoración">
                        </span>
                    </div>
                </div>
            </div>

            <div class="details-card-content_detail">
                <!-- <div class="details-card-title_detail">
                    <p>
                        {{item.title}}
                    </p>

                    <div class="details-card-valoration_detail">
                        <span *ngFor="let value of counter(5); let i = index" style="width: 10px; height: 10px;">
                            <img *ngIf="i < item.valoration" src="../../../assets/imgs/icons/star2.svg"
                                alt="Valoración">
                            <img *ngIf="(i > item.valoration)||(i == item.valoration)"
                                src="../../../assets/imgs/icons/star1.svg" alt="Valoración">
                        </span>
                    </div>
                </div> -->
                <div class="details-card-descripcion_detail mt-2">
                    <p>
                        {{item.descripcion}}
                    </p>
                </div>
                <!-- <div class="details-card-info_detail mt-2">
                    <div class="details-card-info-address">
                        <p>
                            {{item.direccion}}
                        </p>
                    </div>
                </div> -->
                <h1 class="mt-2">Iframe</h1>
                <div class="details-card-info-iframe mt-2">
                    <iframe src="https://www.google.es/" frameborder="0"></iframe>
                </div>
                <h1 class="mt-2">Servicios</h1>
                <div class="details-card-services_detail mt-2">
                    <span class="details-card-service_detail">
                        <input type="checkbox" id="checkbox1" name="checkbox01" disabled="disabled" checked="checked">
                        <label for="checkbox1" title="Todo OK">Todo OK</label>
                    </span>
                    <span class="details-card-service_detail">
                        <input type="checkbox" id="checkbox2" name="checkbox02" checked="checked">
                        <label for="checkbox2" title="Wifi">Wifi</label>
                    </span>
                    <span class="details-card-service_detail">
                        <input type="checkbox" id="checkbox3" name="checkbox03">
                        <label for="checkbox3" title="Desayuno">Desayuno</label>
                    </span>
                </div>
                <h1 class="mt-2">Comentarios</h1>
                <!-- <div class="mt-2">
                    
                    <div class="d-flex justify-content-center py-2">
                        <div class="second py-2 px-2"> <span class="text1">Type your note, and hit enter to add
                                it</span>
                            <div class="d-flex justify-content-between py-1 pt-2">
                                <div><span class="text3">Upvote?</span><span class="thumbup"><i
                                            class="fa fa-thumbs-o-up"></i></span><span class="text4">3</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center py-2">
                        <div class="second py-2 px-2"> <span class="text1">Type your note, and hit enter to add
                                it</span>
                            <div class="d-flex justify-content-between py-1 pt-2">
                                <div><img src="https://i.imgur.com/gishFbz.png" width="18" height="18"><span
                                        class="text2">Beth</span></div>
                                <div><span class="text3 text3o">Upvoted</span><span class="thumbup"><i
                                            class="fa fa-thumbs-up thumbupo"></i></span><span
                                        class="text4 text4i">1</span></div>
                            </div>
                        </div>
                    </div>
                    
                </div> -->
                <div class="details-comentarios">
                    <div class="details-comentarios-card">
                        <span class="details-comentarios-card_u"><p>Usuario</p></span>
                        <span class="details-comentarios-card_c"><p>Comentarios : Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis soluta quo in qui ad reiciendis ut, deleniti inventore ipsum corporis ipsam enim repellendus optio mollitia? Cupiditate tempore omnis placeat esse.</p></span>
                    </div>
                    <div class="details-comentarios-card">
                        <span class="details-comentarios-card_u"><p>Usuario</p></span>
                        <span class="details-comentarios-card_c"><p>Comentarios : Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis soluta quo in qui ad reiciendis ut, deleniti inventore ipsum corporis ipsam enim repellendus optio mollitia? Cupiditate tempore omnis placeat esse.</p></span>
                    </div>
                </div>
                <!-- Servicios -->
                <div class="details-card-reservation_details mt-2">
                    <div class="details-card-reservation_btn">
                        <button class="button--danger">Cancelar</button>
                        <button class="button--default">Reservar</button>
                        <button class="button--info">Ir al detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="details container">
    <div class="details-cards-room" *ngFor="let item of hoteles">
        <div class="details-card-room">
            <div class="details-card-img">
                <img src="{{item.img}}" alt="Sobre nosotros" title="Sobre nosotros">
            </div>
            <div class="details-card-content">
                <div class="details-card-title">
                    <p>
                        {{item.title}}
                    </p>

                    <div class="details-card-valoration">
                        <span *ngFor="let value of counter(5); let i = index" style="width: 10px; height: 10px;">
                            <img *ngIf="i < item.valoration" src="../../../assets/imgs/icons/star2.svg"
                                alt="Valoración">
                            <img *ngIf="(i > item.valoration)||(i == item.valoration)"
                                src="../../../assets/imgs/icons/star1.svg" alt="Valoración">
                        </span>
                    </div>
                </div>
                <div class="details-card-descripcion mt-2">
                    <p>
                        {{item.descripcion}}
                    </p>
                </div>
                <div class="details-card-info mt-2">
                    <div class="details-card-info-address">
                        <p>
                            {{item.direccion}}
                        </p>
                    </div>
                </div>
                <div class="details-card-reservation mt-2">
                    <div class="details-card-reservation_btn">
                        <button class="button button--warning">Cancelar</button>
                        <button class="button button--default">Reservar</button>
                        <button class="button button--info">Ir al detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
