<div class="details container">
    <div class="details-card-room-detail container">
        <div class="details-card-room_detail">
            <div class="details-card-img_detail">
                <img src="../../../../assets/imgs/hotels/rooms/{{room.img_path}}" alt="Sobre nosotros" title="Sobre nosotros">
                <div class="details-card-title_detail">
                    <div class="details-card-valoration_detail">
                        <!-- <span *ngFor="let value of counter(5); let i = index" style="width: 10px; height: 10px;">
                            <img *ngIf="i < item.valoration" src="../../../assets/imgs/icons/star2.svg"
                                alt="Valoración">
                            <img *ngIf="(i > item.valoration)||(i == item.valoration)"
                                src="../../../assets/imgs/icons/star1.svg" alt="Valoración">
                        </span> -->
                    </div>
                    <div class="details-card-valoration_detail-pvp">
                        <p>
                            {{room.tipoHabitacion}}
                        </p>
                        <span class="bookings-searched-card-title_precio">
                            {{room.precioHabitacionTotal}}€
                        </span>
                    </div>
                    <div class="details-card-descripcion_detail mt-2">
                        <p>
                            {{room.descripcion}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="details-card-content_detail mt-4">
                <h4 class="mt-2">{{room.hotelID.nombre}}</h4>
                <div class="details-hotel">
                    <div class="details-hotel-img">
                        <img src="../../../../assets/imgs/hotels/{{room.hotelID.img_path}}" alt="">
                    </div>

                    <div class="details-hotel-content">
                        <div class="details-card-info-address">
                            <p>
                                {{room.hotelID.direccion}}
                            </p>
                        </div>
                        <span class="details-hotel-content-hotel">
                            {{room.hotelID.descripcion}}
                        </span>
                    </div>
                </div>
                <h1 class="mt-2">Localización</h1>
                <div class="details-card-info-iframe mt-2">
                    <iframe [src]="iframeUrl" frameborder="0"></iframe>
                </div>
                <h1 class="mt-2">Servicios</h1>
                <div class="details-card-services_detail mt-2">
                    <span class="details-card-service_detail" *ngFor="let item of pensiones">
                        <input type="checkbox" name="checkbox01" disabled="disabled" checked="checked">
                        <label title="{{item.tipo}}">{{item.tipo}}</label>
                    </span>
                    <span class="details-card-service_detail" *ngFor="let item of servicios">
                        <input type="checkbox" name="checkbox01" disabled="disabled" checked="checked">
                        <label title="{{item.tipo}}">{{item.tipo}}</label>
                    </span>
                </div>
                <!-- <h1 class="mt-2">Comentarios</h1>
                <div class="details-comentarios">
                    <div class="details-comentarios-card" *ngIf="isBooking">
                        <textarea id="comentario" name="comentario" rows="4" cols="50" maxlength="200"></textarea>
                        <button class="button--default">Enviar comentario</button>
                    </div>
                    <div class="details-comentarios-card">
                        <span class="details-comentarios-card_c">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis soluta quo in qui
                                ad reiciendis ut, deleniti inventore ipsum corporis ipsam enim repellendus optio
                                mollitia? Cupiditate tempore omnis placeat esse.</p>
                        </span>
                        <span class="details-comentarios-card_u">
                            <p>Usuario</p>
                            <p>05/11/2001</p>
                        </span>
                    </div>
                    <div class="details-comentarios-card">
                        <span class="details-comentarios-card_c">
                            <p>Comentarios : Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
                                soluta quo in qui ad reiciendis ut, deleniti inventore ipsum corporis ipsam enim
                                repellendus optio mollitia? Cupiditate tempore omnis placeat esse.</p>
                        </span>
                        <span class="details-comentarios-card_u">
                            <p>Usuario</p>
                            <p>02/11/2001</p>
                        </span>
                    </div> -->
                    

                </div>
                <!-- Servicios -->
                <!-- <div class="details-card-reservation_details">
                    <div class="details-card-reservation_btn">
                        <button class="button--danger">Cancelar</button>
                        <button class="button--default">Reservar</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
 


<!-- <div class="details container">
    <div class="details-cards-room" *ngFor="let item of hoteles">
        <div class="details-card-room">
            <div class="details-card-img">
                <img src="{{item.img}}" alt="Sobre nosotros" title="Sobre nosotros">
            </div>
            <div class="details-card-content">
                <div class="details-card-title">
                    <p>
                        {{item.title}}
                    </p>

                    <div class="details-card-valoration">
                        <span *ngFor="let value of counter(5); let i = index" style="width: 10px; height: 10px;">
                            <img *ngIf="i < item.valoration" src="../../../assets/imgs/icons/star2.svg"
                                alt="Valoración">
                            <img *ngIf="(i > item.valoration)||(i == item.valoration)"
                                src="../../../assets/imgs/icons/star1.svg" alt="Valoración">
                        </span>
                    </div>
                </div>
                <div class="details-card-descripcion mt-2">
                    <p>
                        {{item.descripcion}}
                    </p>
                </div>
                <div class="details-card-info mt-2">
                    <div class="details-card-info-address">
                        <p>
                            {{item.direccion}}
                        </p>
                    </div>
                </div>
                <div class="details-card-reservation mt-2">
                    <div class="details-card-reservation_btn">
                        <button class="button button--warning">Cancelar</button>
                        <button class="button button--default">Reservar</button>
                        <button class="button button--info">Ir al detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->