<div id="booking-list-container">
    <div class="booking-filter">
        <div class="input-group">
            <label for="startingDate">Fecha de entrada:</label>
            <input type="date" id="startingDate">
        </div>
        <div class="input-group">
            <label for="endingDate">Fecha de salida:</label>
            <input type="date" id="endingDate">
        </div>

        <div class="occupants-group">
            <label for="occupants">Número de ocupantes</label>
            <div class="input-control-group">
                <span class="input-button-control" id="prev" (click)="less(1)">&#45;</span>
                <input type="number" id="ocuppants" [(ngModel)]="filter.numOccupant" min="1" max="99" (keyup.enter)="checkNumOccupant()">
                <span class="input-button-control" id="next" (click)="plus(1)">&#43;</span>
            </div>
        </div>
        <div class="occupants-group">
            <label for="minPrice">Precio mínimo (€)</label>
            <div class="input-control-group">
                <span class="input-button-control prev" (click)="less(2)">&#45;</span>
                <input type="number" id="minPrice" [(ngModel)]="filter.minPrice" min="1" max="99" (keyup.enter)="checkNumOccupant()">
                <span class="input-button-control next" (click)="plus(2)">&#43;</span>
            </div>
        </div>
        <div class="occupants-group">
            <label for="maxPrice">Precio máximo (€)</label>
            <div class="input-control-group">
                <span class="input-button-control prev" (click)="less(3)">&#45;</span>
                <input type="number" id="maxPrice" [(ngModel)]="filter.maxPrice" min="1" max="99" (keyup.enter)="checkNumOccupant()">
                <span class="input-button-control next" (click)="plus(3)">&#43;</span>
            </div>
        </div>
        <div class="button-group">
            <button class="btn btn-warning" (click)="clearData()">Limpiar</button>
            <button class="btn btn-info" (click)="searchRooms()">Filtar</button>
        </div>
    </div>
    <div class="booking-list"></div>
</div>