<div id="booking-list-container">
    <div class="booking-filter">
        <div class="input-group">
            <label for="startingDate">Fecha de entrada:</label>
            <input type="date" id="startingDate">
        </div>
        <div class="input-group">
            <label for="endingDate">Fecha de salida:</label>
            <input type="date" id="endingDate">
        </div>

        <div class="occupants-group">
            <label for="occupants"></label>
            <span id="prev"></span>
            <input type="number" id="ocuppants">
            <span id="next"></span>
        </div>
        <div class="button-group">
            <button class="btn btn-info button-ok">Filtar</button>
            <button class="btn btn-warning">Limpiar</button>
        </div>
    </div>
    <div class="booking-list"></div>
</div>