<div class="container booking-list" *ngIf="loadedComponent">
    <div class="no-bookings" *ngIf="!bookingList">No se han encontrado reservas</div>

    <div class="booking-list-detail--container" *ngIf="bookingList">
        <div class="bookingsSearched">
            <div class="details container">
                <div class="details-cards-room" *ngFor="let item of bookingList">
                    <div class="details-card-room">
                        <div class="details-card-img">
                            <img src="../../../../assets/imgs/hotels/rooms/{{item.habitacionID.img_path}}" alt="Sobre nosotros" title="Sobre nosotros">
                        </div>
                        <div class="details-card-content">
                            <div class="details-card-title">
                                <p>
                                    {{item.habitacionID.tipoHabitacion}}
                                </p>
                            </div>
                            <div class="details-card-descripcion mt-2">
                                <p>
                                    {{item.habitacionID.descripcion}}
                                </p>
                            </div>
                            <div class="details-card-info mt-2">
                                <div class="details-card-info-address">
                                    <p>
                                        {{item.habitacionID.direccion}}
                                    </p>
                                </div>
                            </div>
                            <div class="details-card-reservation mt-2">
                                <div class="details-card-reservation_btn">
                                    <button class="button button--danger" [disabled]="item.esCancelacion" (click)="cancel(item.reservaID)">
                                        <span *ngIf="!item.esCancelacion">Cancelar</span>
                                        <span *ngIf="item.esCancelacion">Cancelada</span>
                                    </button>
                                    <button class="button button--info" (click)="verReserva(item.reservaID)">Ir a detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>