<div class="container">
    <div class="details-cards-room" *ngFor="let item of hoteles">
        <div class="details-card-room">
            <div class="details-card-img">
                <img src="{{item.img}}" alt="Sobre nosotros" title="Sobre nosotros">
            </div>
            <div class="details-card-content">
                <div class="details-card-title">
                    <span>
                        {{item.title}}
                    </span>
                </div>
                <div class="details-card-descripcion">
                    <span>
                        {{item.descripcion}}
                    </span>
                </div>
                <div class="details-card-info">
                    <div class="details-card-info-valoration">
                        
                    </div>
                    <div class="details-card-info-address">
                        <span>
                            {{item.direccion}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-card-room_ver-mas" hidden>
            <div class="details-card-room">
                <div class="details-card-info_info">
                    <div class="details-card-info-iframe">
                        <iframe src="" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>