.details {
    &-cards-room {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        border: 1px solid lightgray;
        margin: 7em;
        border-radius: 5px;
        box-shadow: 0 0 5px lightgray;
    }
    &-card {
        &-room {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            &_ver-mas {
            }
        }
        &-img {
        }
        &-content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        &-title {
            & > span {
            }
        }
        &-descripcion {
            & > span {
            }
        }
        &-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            &-valorar {
                grid-gap: 2%;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
            &-location {
            }
            &-iframe {
            }
        }
    }
}
