<!-- <div class="container gestion">
    <div class="gestion-header mt-2">
        <span class="gestion-header-table mt-2">Listado usuarios</span>
        <button class="button--default">Insertar</button>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tr>
            <th>1</th>
            <th>Correo@correo.com</th>
            <th>Pepe</th>
            <th>me dejas terminar</th>
            <th>01/02/2010</th>
            <th>
                <button class="button--default">Editar</button>
                <button class="button--danger">Eliminar</button>
            </th>
        </tr>
        <tr>
            <th>2</th>
            <th>Correo2@correo.com</th>
            <th>Pepe2</th>
            <th>me dejas terminar</th>
            <th>20/02/2010</th>
            <th>
                <button class="button--default">Editar</button>
                <button class="button--danger">Eliminar</button>
            </th>
        </tr>

    </table>
</div> -->

<!-- Hoteles -->
<div class="container gestion">
    <div class="gestion-header mt-2">
        <span class="gestion-header-table mt-2">{{title}}</span>
        <button class="button--default">Insertar</button>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Location</th>
                <th>Habitaciones</th>
                <th>Servicios</th>
            </tr>
        </thead>
        <tr>
            <th>1</th>
            <th>Nombre</th>
            <th>Location</th>
            <th>Habitaciones</th>
            <th>Servicios</th>
            <th>
                <button class="button--default">Editar</button>
                <button class="button--danger">Eliminar</button>
            </th>
        </tr>
        <tr>
            <th>2</th>
            <th>Nombre</th>
            <th>Location</th>
            <th>Habitaciones</th>
            <th>Servicios</th>
            <th>
                <button class="button--default">Editar</button>
                <button class="button--danger">Eliminar</button>
            </th>
        </tr>

    </table>
</div>