<div class="container gestion">
    <div class="gestion-header mt-2">
        <span class="gestion-header-table mt-2">{{title}} </span>
        <button class="button--default">Insertar</button>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Ruta Imagen</th>
                <th>Localización</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tr>
        <tr *ngFor="let hotel of hotels; let e = index">
            <td>
                <input class="data-{{e}}" type="text" [(ngModel)]="hotel.hotelID" [disabled]="!editable[e]">
            </td>
            <td>
                <input class="data-{{e}}" type="text" [(ngModel)]="hotel.nombre" [disabled]="!editable[e]">
            </td>
            <td>
                <input class="data-{{e}}" type="text" [(ngModel)]="hotel.localizacion" [disabled]="!editable[e]">
            </td>
            <td>
                <input class="data-{{e}}" type="text" [(ngModel)]="hotel.descripcion" [disabled]="!editable[e]">
            </td>
            <td>
                <input class="data-{{e}}" type="text" [(ngModel)]="hotel.direccion" [disabled]="!editable[e]">
            </td>
            <td *ngIf="!editable[e]">
                <button (click)="editar(e)" class="button--default ">Editar</button>
                <button (click)="eliminar(hotel)" class="button--danger ">Eliminar</button>
            </td>
            <td *ngIf="editable[e]">
                <button (click)="actualizar(hotel,e)" class="button--info">Actualizar</button>
                <button (click)="cancelarActualizar(e)" class="button--default">Cancelar</button>
            </td>
        </tr>
    </table>
</div>