<header>
    <input class="floating-button--header-checkbox" type="checkbox">
    <div class="floating-button--header-box"><span class="line"></span></div>
    <div id="header-container">
        <nav class="navbar">
            <div id="navbar-container-brand">
                <a class="navbar-brand" [routerLink]="'/'" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}" (click)="eventTrigger(-1)">{{headerMenu.title}}</a>
            </div>

            <ul class="navbar-nav navbar-nav--custom">
                <li class="nav-item" *ngFor="let item of headerMenu.items">
                    <a class="nav-link" *ngIf="item.url" [routerLink]="item.url" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}" (click)="eventTrigger(item.id)">{{item.name}}</a>

                    <a class="nav-link" *ngIf="!item.url" (click)="eventTrigger(item.id)">{{item.name}}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>