$border-width: 1px;
$color-breakline: lightgray;
#header {
    width: calc(100% - (#{$border-width}* 2));
    height: calc(5vh - (#{$border-width}* 2));
    // min-height: 44px;
    min-height: 52px;
    display: flex;
    background-color: var(--color-natural);
    // border-bottom: 5px solid var(--color-primary);
    &>div {
        height: 100%;
    }
    & .brand {
        width: 30%;
        
    }

    & .header- {
        &items {
            width: 70%;
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            place-items: center;
        }

        &item {
            padding: 2em;
            text-transform: uppercase;
            & a{
                position: relative;
                color: var(--text-clr-primary);

                &::after{
                    pointer-events: none;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    border-bottom: 0.2em solid var(--color-primary);
                }
            }
        }
    }
        
}