body {
    overflow-x: hidden;
    font-family: "KoHo";
    * {
        margin: 0;
        border: 0;
        padding: 0;
        box-sizing: content-box;
    }
    a {
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
            color: inherit;
        }
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .button {
        padding: 10px 20px;
        border-radius: 10px;
        margin: 5px;
        &:not([loading]):hover,
        &:not([loading]):active,
        &[loading] {
            background-color: var(--color-secondary);
            color: var(--color-primary);
            transform: scale(1.05);
            border: 1px solid var(--color-primary);
            transition: all 0.3s;
        }
        &:disabled {
            opacity: 0.5;
        }
        &[loading] {
            position: relative;
            color: var(--color-secondary);
            &::before {
                content: "";
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0%);
                background-image: url(/assets/imgs/icons/loader.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        &--default,&--danger,&--info,&--verified {
            @extend .button;
        }
        &--default {
            background-color: var(--color-primary);
            color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
            transition: all 0.3s;
        }
        &--danger {
            background-color: var(--btn-cancel-clr);
            color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
            transition: all 0.3s;
            &:not([loading]):hover,
            &:not([loading]):active,
            &[loading] {
                background-color: var(--color-secondary);
                color: var(--btn-cancel-clr);
                transform: scale(1.05);
                border: 1px solid var(--btn-cancel-clr);
                transition: all 0.3s;
            }
            &[loading] {
                color: var(--color-secondary);
            }
        }

        &--info {
            background-color: var(--btn-info-clr);
            color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
            transition: all 0.3s;
            &:not([loading]):hover,
            &:not([loading]):active,
            &[loading] {
                background-color: var(--color-secondary);
                color: var(--btn-info-clr);
                transform: scale(1.05);
                border: 1px solid var(--btn-info-clr);
                transition: all 0.3s;
            }
            &[loading] {
                color: var(--color-secondary);
            }
        }
        &--verified {
            background-color: rgb(88, 235, 108);
            color: var(--color-secondary);
            text-shadow: 1px 1px 2px rgb(0, 0, 0);
            border: 1px solid var(--color-secondary);
            transition: all 0.3s;
            &:not([loading]):hover,
            &:not([loading]):active,
            &[loading] {
                background-color: var(--color-secondary);
                color:  rgb(96, 255, 117);
                text-shadow: 1px 1px 0px rgb(73, 194, 89);
                transform: scale(1.05);
                border: 1px solid  rgb(96, 255, 117);
                transition: all 0.3s;
            }
            &[loading] {
                color: var(--color-secondary);
            }
        }
    }
}

.locked {
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

// Añadir estilos y variables comunes SCSS
:root {
    --color-primary: rgb(255, 157, 0);
    --color-primary--opacity: rgba(255, 157, 0, 0.4);
    --color-secondary: rgb(255, 255, 255);
    --color-terciary: rgb(42, 195, 255);

    --btn-clr-primary: rgb(132, 255, 159);
    --btn-clr-terciary: rgb(255, 157, 0);
    
    --btn-cancel-clr: rgb(255, 104, 104);
    --btn-info-clr: rgb(90, 214, 255);

    --text-clr-primary: black;
    --text-clr-header: rgb(255, 193, 94);
    --text-clr-header-shadow: red;

    --default-transition-speed: 0.3s;

    --default-header-heigth: 8vh;
    --scrolling-header-heigth: 6vh;
}

[class |= 'data'] {
    background-color: white;
    border-bottom: 1px solid orange;

    &:disabled {
        background-color: white;
        border-bottom:none;

    }
}

.gestion-header{
    display: flex;
    justify-content: space-between;
    &>span{
        font-size: 1.5rem;
        font-weight: bold
    }
}