<div class="booking-flow" style="display: none;">
    <div class="booking-flow--header">
        <div class="title">Proceso de Reserva</div>
        <ul class="header-dots">
            <li class="header-item-dot" done>
                <a (click)="goTo(0)">Ocupantes</a>
            </li>
            <li class="header-item-dot">
                <a (click)="goTo(1)">Servicios</a>
            </li>
            <li class="header-item-dot">
                <a (click)="goTo(2)">Resumen</a>
            </li>
        </ul>

        <div class="close" (click)="close()">
            Salir
        </div>
    </div>
    <div class="booking-flow--view-steps">
        <section class="step step-1" style="display: none;">
            <div class="">
                <div class="title">Seleccionar Ocupantes: <span
                        *ngIf="room">{{adultos+jovenes+children}}/{{room.ocupantes}}</span></div>
                <div class="step-1--form">
                    <div class="input-group">
                        <div class="input-label">Adultos</div>
                        <div class="input-control-group">
                            <span class="input-button-control prev" (click)="less(0)">&#45;</span>
                            <input type="number" [(ngModel)]="adultos" min="0" max="99" (keyup.enter)="checkValue(0)">

                            <span class="input-button-control next" (click)="plus(0)">&#43;</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-label">Jóvenes</div>
                        <div class="input-control-group">
                            <span class="input-button-control prev" (click)="less(1)">&#45;</span>
                            <input type="number" [(ngModel)]="jovenes" min="0" max="99" (keyup.enter)="checkValue(1)">

                            <span class="input-button-control next" (click)="plus(1)">&#43;</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-label">Niños (menores de 3 años)</div>
                        <div class="input-control-group">
                            <span class="input-button-control prev" (click)="less(2)">&#45;</span>
                            <input type="number" [(ngModel)]="children" min="0" max="99" (keyup.enter)="checkValue(2)">

                            <span class="input-button-control next" (click)="plus(2)">&#43;</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="step step-2" style="display: none;">
            <div class="services">
                <div class="required">
                    <div class="title">Seleccione tipo de pensión: <span>{{tituloPension}}</span></div>
                    <div class="service-list">
                        <div class="service-container">
                            <input type="checkbox" class="service-checker" [(ngModel)]="pension_todo_incluido.isActive"
                                (click)="checkPension(pension_todo_incluido.id)">
                            <div class="service-card">
                                <div class="img-container">
                                    <img src="../../../../assets/imgs/hotels/pensiones/{{pension_todo_incluido.img}}" alt="servicio">
                                </div>
                                <div class="service-name">Todo incluído</div>
                            </div>
                        </div>
                        <div class="service-container">
                            <input type="checkbox" class="service-checker" [(ngModel)]="pension_desayuno.isActive"
                                (click)="checkPension(pension_desayuno.id)">
                            <div class="service-card">
                                <div class="img-container">
                                    <img src="../../../../assets/imgs/hotels/pensiones/{{pension_desayuno.img}}"
                                        alt="servicio">
                                </div>
                                <div class="service-name">Desayuno</div>
                            </div>
                        </div>
                        <div class="service-container">
                            <input type="checkbox" class="service-checker" [(ngModel)]="pension_comida.isActive"
                                (click)="checkPension(pension_comida.id)">
                            <div class="service-card">
                                <div class="img-container">
                                    <img src="../../../../assets/imgs/hotels/pensiones/{{pension_comida.img}}"
                                        alt="servicio">
                                </div>
                                <div class="service-name">Almuerzo</div>
                            </div>
                        </div>
                        <div class="service-container">
                            <input type="checkbox" class="service-checker" [(ngModel)]="pension_cena.isActive"
                                (click)="checkPension(pension_cena.id)">
                            <div class="service-card">
                                <div class="img-container">
                                    <img src="../../../../assets/imgs/hotels/pensiones/{{pension_cena.img}}"
                                        alt="servicio">
                                </div>
                                <div class="service-name">Cena</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="others">
                    <div class="title">Si lo desea puede disponer de estos otros servicios:</div>
                    <div class="service-list">
                        <div class="service-container" *ngFor="let service of servicios">
                            <input type="checkbox" class="service-checker" [(ngModel)]="service.isSelected">
                            <div class="service-card">
                                <div class="img-container">
                                    <img src="../../../assets/imgs/services/{{service.img_path}}" alt="{{service.tipo}}" title="{{service.tipo}}">
                                </div>
                                <div class="service-name">{{service.tipo}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="step step-3" style="display: none;">
            <div class="invoice-box">
                <table>
                    <tr class="top">
                        <td colspan="3">
                            <table>
                                <tr>
                                    <td class="title">
                                        <img src="../../../../assets/imgs/icons/PTL_Logo.svg" alt="logo"
                                            style="width: 100%; max-width: 300px" />
                                    </td>

                                    <td></td>

                                    <td>
                                        Fecha registro: <span>{{filter.}}</span> <br />
                                        Fecha entrada: <br />
                                        Fecha salida:
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr class="information">
                        <td colspan="3">
                            <table>
                                <tr>
                                    <td>
                                        Nombre hotel<br />
                                        dirección hotel
                                    </td>
                                    <td></td>
                                    <td>
                                        Nombre cliente<br />
                                        apellidos<br />
                                        email
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr class="heading">
                        <td>Concepto</td>

                        <td>Unidad</td>

                        <td>Precio</td>
                    </tr>

                    <tr class="item">
                        <td>Website design</td>
                        <td>1</td>
                        <td>$300.00</td>
                    </tr>

                    <tr class="item">
                        <td>Hosting (months)</td>
                        <td>3</td>
                        <td>$75.00</td>
                    </tr>

                    <tr class="item">
                        <td>Domain name (1 year)</td>
                        <td>1</td>
                        <td>$10.00</td>
                    </tr>

                    <tr class="total">
                        <td></td>
                        <td></td>
                        <td>Total: $385.00</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
    <div class="booking-flow--buttons">
        <div class="container">
            <button class="{{currentScene.backButton.class}}" (click)="back()">
                {{currentScene.backButton.text}}</button>
            <button class="{{currentScene.nextButton.class}}" (click)="next()"
                [disabled]="!currentScene.isValid">{{currentScene.nextButton.text}}</button>
        </div>
    </div>
</div>
<div class="booking-flow--background" style="display: none;"></div>