<div id="register_admin-component">
    <div class="register_admin-form-container" modal-mobile>
        <div class="close"></div>
        <fieldset class="register_admin-form">
            <legend>Registro Habitaciones</legend>

            <div class="input_group">
                <!-- <input id="email-input" type="text" [(ngModel)]="email.value" (focusout)="validator(email)" required> -->
                <input id="descripcion" type="text" required>
                <label for="descripcion" class="noselect">Descripcion (*)</label>
            </div>
            <!-- <span class="error-message"><span *ngIf="email.errorMessage!=''"
                    class="warning-icon"></span>{{email.errorMessage}}</span> -->

            <div class="input_group">
                <!-- <input id="name" type="text" [(ngModel)]="name.value" (focusout)="validator(name)" required> -->
                <input id="numHabitacion" type="text" required>
                <label for="numHabitacion" class="noselect">Numero de Habitaciones (*)</label>
            </div>
            <!-- <span class="error-message"><span *ngIf="name.errorMessage!=''"
                    class="warning-icon"></span>{{name.errorMessage}}</span> -->
            <div class="input_group">
                <!-- <input id="surname" type="text" [(ngModel)]="surname.value" (focusout)="validator(surname)" required> -->
                <input id="img_path" type="text" required>
                <label for="img_path" class="noselect">Imagen Path (*)</label>
            </div>
            <!-- <span class="error-message"><span *ngIf="surname.errorMessage!=''"
                    class="warning-icon"></span>{{surname.errorMessage}}</span> -->
            <div class="input_group">
                <!-- <input id="surname" type="text" [(ngModel)]="surname.value" (focusout)="validator(surname)" required> -->
                <input id="img_path" type="text" required>
                <label for="img_path" class="noselect">Imagen Path (*)</label>
            </div>
            <!-- <span class="error-message"><span *ngIf="surname.errorMessage!=''"
                            class="warning-icon"></span>{{surname.errorMessage}}</span> -->
            <div class="input_group">
                <!-- <input id="birthDate" type="date" [(ngModel)]="birthdate.value" required> -->
                <input id="tipoHabitacion" type="text" required>
                <label for="tipoHabitacion" class="noselect">Tipo de Habitación (*)</label>
            </div>
            <!-- <span class="error-message"><span *ngIf="birthdate.errorMessage!=''"
                    class="warning-icon"></span>{{birthdate.errorMessage}}</span> -->
            <div class="input_group">
                <!-- <input id="birthDate" type="date" [(ngModel)]="birthdate.value" required> -->
                <input id="tipoHabitacion" type="text" required>
                <label for="tipoHabitacion" class="noselect">Tipo de Habitación (*)</label>
            </div>
            <!-- <span class="error-message"><span *ngIf="birthdate.errorMessage!=''"
                            class="warning-icon"></span>{{birthdate.errorMessage}}</span> -->


            <div class="button-group">
                <!-- <button class="button button--default noselect"
                    [disabled]="(!email.isValid)||(!name.isValid)||(!surname.isValid)||(!birthdate.isValid)||(!password.isValid)"
                    (click)="register_adminCheck()">Acceder</button>
                <button class="button button--danger noselect" (click)="reset()">Cancelar</button> -->
            </div>
        </fieldset>
    </div>
</div>
<div id="register_admin-background" style="display: none;"></div>