<!--
    <div id="login-component" style="display: none;">
    <div class="login-form-container" modal-mobile>
        <div class="close"></div>
        <fieldset class="login-form">
            <legend>Formulario de Acceso</legend> 

            <div class="input_group">
                <input id="email" type="text" [(ngModel)]="email.value" tabindex="1" (focusout)="emailValidator()" required>
                <label for="email" class="noselect">Email</label>
            </div>
            <span class="error-message"><span *ngIf="email.errorMessage!='' && email.hasModified"
                    class="warning-icon"></span>{{email.errorMessage}}</span>
            <div class="input_group">
                <input id="password" type="password" [(ngModel)]="password.value" tabindex="2" (keyup.Enter)="loginCheck()" (focusout)="passwordValidator()"
                    required>
                <label for="password" class="noselect">Contraseña</label>
            </div>
            <span class="error-message"><span *ngIf="password.errorMessage!='' && password.hasModified"
                    class="warning-icon"></span>{{password.errorMessage}}</span>
            <div class="button_group">
                <button class="button button--default noselect"  tabindex="3" [disabled]="(!email.isValid || !password.isValid)" (click)="loginCheck()">Acceder</button>
                <button class="button button--danger noselect"  tabindex="4" (click)="cancel()">Cancelar</button>
            </div>
            <span class="error-message"><span *ngIf="form.errorMessage!=''"
                class="warning-icon"></span>{{form.errorMessage}}</span>
        </fieldset>
    </div>
</div>
<div id="login-background" style="display: none;"></div>
-->