<div id="login-component" hidden>
    <div id="login_form">
        <h1 class="form-title">Formulario de Acceso</h1>
        <div class="input_group">
            <input id="email" type="text" [(ngModel)]="email" (focusout)="emailValidator()" required>
            <label for="email" class="noselect">Email</label>
        </div>
        <span class="error-message"><span *ngIf="emailError!=''" class="warning-icon"></span>{{emailError}}</span>
        <div class="input_group">
            <input id="password" type="password" [(ngModel)]="password" (focusout)="passwordValidator()" required>
            <label for="password" class="noselect">Contraseña</label>
        </div>
        <span class="error-message"><span *ngIf="passwordError!=''" class="warning-icon"></span>{{passwordError}}</span>

        <div class="button-group">
            <button class="button-ok noselect" [disabled]="!buttonValidator" (click)="loginCheck()">Acceder</button>
            <button class="button-cancel noselect" (click)="cancel()" >Cancelar</button>
        </div>
    </div>
</div>
<div id="login-background" hidden></div>