#booking-list-container {
    width: 100%;
    // height: 65vh;
    // overflow: hidden;
    .booking {
        &-filter,
        &-list {
            display: block;
        }
        &-filter {
            // width: 80%;
            // height: 10vh;
            // position: fixed;
            top: var(--default-header-heigth);
            left: 0;
            // padding: 0px 10%;
            display: flex;
            justify-content: space-around;
            input {
                border-bottom: 1px solid var(--color-primary);
                outline-width: 0;
                &[type|="date"] {
                    cursor: pointer;
                }
            }
            & > div {
                display: flex;
                align-self: flex-end;
                margin: 1em;
            }
            .input-control-group {
                display: block;
                position: relative;
                padding-top: 0.3em;
                text-align: left;
                input {
                    width: 30%;
                    text-align: center;
                }
                .input-button-control {
                    display: inline-block;
                    width: 15%;
                    height: 1.2em;
                    border-radius: 5px;
                    background-color: var(--color-primary);
                    color: var(--color-secondary);
                    border: 1px solid var(--color-secondary);
                    font-weight: bold;
                    text-align: center;
                    padding-bottom: 3%;
                    transition: all 0.3s;
                    cursor: pointer;
                    user-select: none;
                }
                .prev {
                    margin-right: 2px;
                }
                .next {
                    margin-left: 2px;
                }
            }
            .input-group {
                width: 15%;
                label,
                input {
                    display: block;
                }
                input {
                    // padding-top: 0.3em;
                }
            }

            .occupants-group {
                width: 15%;
                display: block;
                // label {
                //     display: block;
                // }
            }

            .button-group {
                // width: 15%;
                // display: flex;
                // justify-content: space-between;
            }

            border-bottom: 1px solid var(--color-primary--opacity);
        }
        &-list {
            width: 100%;
            // margin-top: 10vh;
        }
    }
    .bookings-searched {
        max-width: 1100px;
        &-cards-room {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            border: 1px solid lightgray;
            margin: 2%;
            border-radius: 25px;
            box-shadow: 0 0 15px lightgrey;
            position: relative;
        }
        &-card {
            &-room {
                display: grid;
                grid-template-columns: 30% 70%;
                // width: 100%;
                &_ver-mas {
                }
            }
            &-img {
                margin: 5%;
                text-align: center;
                // margin: 2% auto;
                & > img {
                    width: 100%;
                    border-radius: 8px;
                    object-fit: cover;
                }
            }
            &-content {
                // display: grid;
                // grid-template-rows: 10% 20% 10% 10%;
                margin: 2%;
                position: relative;
                // grid-gap: 10%;
            }
            &-title {
                position: relative;
                font-size: 2rem;
                font-weight: bold;
                & > span {
                }
            }
            &-valoration {
                font-size: 0;
                display: block;
                & > span > img {
                    width: 1.5rem;
                    color: var(--color-primary);
                }
            }
            &-view {
                width: 1.5rem;
                position: absolute;
                right: 0;
                margin: 1rem;
                z-index: 1;
                & > img {
                    width: 100%;
                }
            }
            &-descripcion {
                & > p {
                    display: -webkit-box;
                    height: 4.5rem;
                    font-size: 18px;
                    line-height: 1.3;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &-info {
                display: -webkit-box;
                height: 1.5rem;
                font-size: 18px;
                width: 30rem;
                line-height: 1.3;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                &-address {
                    font-weight: bold;
                }
                &-location {
                }
                &-iframe {
                }
            }
            &-reservation {
                display: block;
                position: absolute;
                width: 100%;
                bottom: 0;
                &_btn {
                    display: flex;
                    justify-content: flex-end;
                }
                // bottom: 0;
                // position: absolute;
                // right: 0;
                // grid-area: reserva;
            }
            &-iframe {
                width: 100%;
                height: 15rem;
                display: block;
                &-info,
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .bookings-searched {
            &-card {
                &-title {
                    display: flex;
                    align-content: flex-start;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.5rem;
                    & > p {
                        width: 75%;
                    }
                }
                &-img {
                    & > img {
                        width: 100%;
                    }
                }
                &-info {
                    width: 68%;
                }
            }
        }
    }

    @media (max-width: 425px) {
        .bookings-searched {
            &-card {
                &-room {
                    grid-template-columns: repeat(1, 1fr);
                }
                &-content {
                    margin: 0 5% 5%;
                }
                &-title {
                    display: block;
                    & > p {
                        width: 100%;
                    }
                }
                &-info {
                    width: 100%;
                }
                &-reservation_btn {
                    justify-content: center;
                }
            }
        }
    }
}
.details {
    max-width: 1100px;
    // background-color: rgb(190, 190, 190);
    &-cards-room {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border: 1px solid lightgray;
        margin: 2%;
        border-radius: 25px;
        box-shadow: 0 0 15px lightgrey;
        position: relative;
    }
    &-card {
        &-room {
            display: grid;
            grid-template-columns: 30% 70%;
            &_detail {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &-img {
            margin: 5%;
            text-align: center;
            width: 60%;
            & > img {
                width: 100%;
                border-radius: 8px;
                object-fit: cover;
            }
            &_detail {
                padding: 2% 0%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 3%;
                border-bottom: 2px solid var(--color-primary);
                & > img {
                    width: 100%;
                    border-radius: 8px;
                    object-fit: cover;
                }
            }
        }
        &-content {
            margin: 2%;
            position: relative;
            &_detail {
                position: relative;
                display: grid;
            }
        }
        &-title {
            position: relative;
            font-size: 2rem;
            font-weight: bold;
            &_detail {
                font-size: 2rem;
                font-weight: bold;
                width: 100%;
            }
        }
        &-valoration {
            font-size: 0;
            display: block;
            & > span > img {
                width: 1.5rem;
                color: var(--color-primary);
            }
            &_detail {
                padding: 0.15rem 0%;
                font-size: 0;
                display: block;
                width: 100%;
                margin: 0 auto;
                & > span > img {
                    width: 1.5rem;
                    color: var(--color-primary);
                }
            }
        }
        &-view {
            width: 1.5rem;
            position: absolute;
            right: 0;
            margin: 1rem;
            z-index: 1;
            & > img {
                width: 100%;
            }
        }
        &-descripcion {
            &_detail {
                font-size: 1rem;
            }
            & > p {
                display: -webkit-box;
                // height: 4.5rem;
                font-size: 18px;
                line-height: 1.3;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &-info {
            display: -webkit-box;
            height: 1.5rem;
            font-size: 18px;
            width: 30rem;
            line-height: 1.3;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &-address {
                font-weight: bold;
                &_detail {
                    width: 100%;
                    & > p {
                        font-size: 1.1rem;
                    }
                }
            }
            &_detail {
                width: 100%;
                & > p {
                    font-size: 1rem;
                }
            }
            &-iframe {
                height: 20rem;
                & > iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &-reservation {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            &_btn {
                display: flex;
                justify-content: flex-end;
            }
            &_details {
                margin: 2rem 0;
            }
        }
        &-iframe {
            width: 100%;
            height: 15rem;
            display: block;
            &-info,
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
    &-comentarios {
        width: 100%;
        &-card {
            margin-top: 1.05rem;
            border-radius: 15px;
            padding: 1rem 2rem;
            background-color: #9e9e9e4d;
            &_u {
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 1rem;

                    margin-top: 1rem;
                }
            }
            &_c {
                p {
                    font-weight: bold;
                }
            }
            & > textarea {
                width: 100%;
            }
        }
    }
    &-hotel {
        padding: 2% 0%;
        display: grid;
        grid-template-columns: 30% 67%;
        grid-gap: 3%;
        &-img {
            & > img {
                width: 100%;
                border-radius: 8px;
                object-fit: cover;
            }
        }
        &-content {
            & > span {
            }
        }
    }
}

@media (max-width: 768px) {
    .details {
        &-card {
            &-title {
                display: flex;
                align-content: flex-start;
                justify-content: space-between;
                align-items: center;
                font-size: 1.5rem;
                & > p {
                    width: 75%;
                }
            }
            &-img {
                & > img {
                    width: 100%;
                }
            }
            &-info {
                width: 68%;
                &-address {
                    font-size: 1.5rem;
                    &_detail {
                        & > p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .details {
        &-card {
            &-room {
                grid-template-columns: repeat(1, 1fr);
            }
            &-content {
                margin: 0 5% 5%;
            }
            &-title {
                display: block;
                &_detail {
                    font-size: 1.3rem;
                }
                & > p {
                    width: 100%;
                }
            }
            &-info {
                width: 100%;
            }
            &-reservation_btn {
                justify-content: center;
            }
        }
    }
}
.button-group{
    display: flex;
    grid-gap: 10%;
}
.details-card-services_detail {
    display: flex;
    flex-flow: wrap;
}

.details-card-service_detail {
    margin-right: 5px;
}

legend.radio {
    border-radius: 50px;
}

.container ul {
    margin-top: 0;
    padding-left: 0em;
}
.container ul li {
    list-style-type: none;
}
.container ul + ul {
    margin-bottom: 0;
}
// .container ul + ul > li + li label {
//     margin-bottom: 0;
// }
