<div class="details container">
    <div class="details-card-room-detail" *ngFor="let item of hoteles">
        <div class="details-card-room_detail">
            <div class="details-card-img_detail">
                <img src="{{item.img}}" alt="Sobre nosotros" title="Sobre nosotros">
            </div>
            <div class="details-card-content_detail">
                <div class="details-card-title_detail">
                    <p>
                        {{item.title}}
                    </p>

                    <div class="details-card-valoration_detail">
                        <span *ngFor="let value of counter(5); let i = index" style="width: 10px; height: 10px;">
                            <img *ngIf="i < item.valoration" src="../../../assets/imgs/icons/star2.svg"
                                alt="Valoración">
                            <img *ngIf="(i > item.valoration)||(i == item.valoration)"
                                src="../../../assets/imgs/icons/star1.svg" alt="Valoración">
                        </span>
                    </div>
                </div>
                <div class="details-card-descripcion_detail mt-2">
                    <p>
                        {{item.descripcion}}
                    </p>
                </div>
                <div class="details-card-info_detail mt-2">
                    <div class="details-card-info-address">
                        <p>
                            {{item.direccion}}
                        </p>
                    </div>
                </div>
                <div class="details-card-reservation_details mt-2">
                    <div class="details-card-reservation_btn">
                        <button class="button button--default">Reservar</button>
                        <button class="button button--info">Ir al detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>