body, body *{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: content-box;
}

// Añadir estilos y variables comunes SCSS

$color_primary: #ffe33b;
$color-secundary: #000;
$color-terciary: #FFF;

$color_a: '';

p{
    background-color: red;
    color: blueviolet;
}