.pep{
    &-dashboard{
        width: 100%;
        // background-color: grey;
    }
    &-content{
        width: 90%;
        margin: 0 auto;
        // background-color: green;
    }
    &-register{
        border-bottom: 4px solid orange;
        &-text{
            position: absolute;
            top: 23rem;
            width: 75vh;
            left: 5rem;
            z-index: 9;
            color: var(--color-secondary);
            text-align: center;
            &_text{
                padding-top: 2rem;
            }
        }
        &-img{
            width: 100%;
            height: 95vh;
            background: url("../../../assets/imgs/utilities/banner_bg.jpg") no-repeat scroll center 0/cover;
            opacity: 0.7555555555555555555;
        }
        &-load{
            display: block;
            position: absolute;
            width: 63rem;
            height: 94.9%;
            top: 3.3rem;
            text-align: center;
            -webkit-clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
            background-color: var(--text-clr-primary);
            opacity: 0.7;
        }
    }
    &-room{
        width: 100%;
        // background-color: rgb(185, 163, 122);
    }
    &-abaut{
        width: 100%;
        // background-color: rgb(185, 122, 125);
    }
    // Textos
    &-text{
        &_bold{
            display: block;
            font-size: 20px;
            font-weight: 500;
            &-max{
                font-size: 50px;
                font-weight: bold;
            }
        }
    }
}
