<div class="pep-dashboard">
    <section class="pep-register">
        <div class="pep-register-text">
            <span class="pep-text_rel pep-text_bold-max">Es hora de respirar</span>
            <div class="pep-register-text_text">
                <span class="pep-text_bold">
                    Nosotros nos encargamos de ofrecerte las mejores vistas 
                    con un servicio impecable y al mejor precio.
                </span>
            </div>
            <div class="pep-register-text_text pep-register-btn">
                <a href="#" class="pep-btn_primary pep-text_bold" title="Register">Register</a>
                <a href="#" class="pep-btn_secundary pep-text_bold" title="Iniciar sesión">Iniciar sesión</a>
            </div>
        </div>
    </section>
    <section class="pep-content">
        <div class="pep-info container">
            <div class="pep-room-cards">
                <div class="pep-room-text_bold-mediun">
                    <span class="">Cancelación gratuita hasta el último minuto</span>
                    <!-- <span class="pep-text_bold-regular">Deléitese con nuestras habitaciones, disponibles de los siguientes tipos:</span> -->
                </div>
                <div class="pep-room-text_bold-mediun">
                    <span class="">Pago seguro</span>
                    <!-- <span class="pep-text_bold-regular">Deléitese con nuestras habitaciones, disponibles de los siguientes tipos:</span> -->
                </div>
                <div class="pep-room-text_bold-mediun">
                    <span class="">Opiniones</span>
                    <!-- <span class="pep-text_bold-regular">Deléitese con nuestras habitaciones, disponibles de los siguientes tipos:</span> -->
                </div>
                <div class="pep-room-text_bold-mediun">
                    <span class="">Ayuda</span>
                    <!-- <span class="pep-text_bold-regular">Deléitese con nuestras habitaciones, disponibles de los siguientes tipos:</span> -->
                </div>
            </div>
        </div>
    </section>

    <section class="pep-content">
        <div class="pep-abaut container">
            <div class="pep-abaut-text">
                <span class="pep-text_bold-max">¿Como funciona?</span>
                <span class="pep-text_bold-regular">
                    Te abrimos las puertas a una selección de hoteles.
                </span>
                <span class="pep-text_bold-regular">
                    <ul>
                        <li><b>Registrate</b> para acceder a los hoteles.</li>
                        <li><b>Busca</b> tu destino.</li>
                        <li><b>Reserva</b> tu habitación.</li>
                        <li><b>Valora</b> tu estancia.</li>
                    </ul>
                </span>
            </div>
            <div class="pep-abaut-img">
                <img src="../../../assets/imgs/utilities/about_bg.jpg" alt="Sobre nosotros" title="Sobre nosotros">
            </div>
        </div>
    </section>

    <section class="pep-content">
        <div class="pep-service">
            <div class="pep-room-text_bold-mediun">
                <span class="pep-text_bold-max">Mejores valorados (Hoteles)</span>
                <span class="pep-text_bold-regular">Reservando en nuestro hotel podrá disfrutar de nuestros servicios</span>
            </div>
            <div class="pep-service-cards">
                <div class="pep-service-card container">
                    <!-- <div class="pep-service-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales" title="Habitaciones individuales">
                        <span class="pep-service-card-text_bold">Restaurante</span>
                        <span class="pep-service-card-text_nature">Disponemos de una amplia selección de platos para su elección. Sin duda quedará encantado.</span>
                    </div>
                    <div class="pep-service-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales" title="Habitaciones individuales">
                        <span class="pep-service-card-text_bold">Wi-fi</span>
                        <span class="pep-service-card-text_nature">Todas nuestras habitaciones disponen de conexión a internet de forma gratuita.</span>
                    </div>
                    <div class="pep-service-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales" title="Habitaciones individuales">
                        <span class="pep-service-card-text_bold">Piscina</span>
                        <span class="pep-service-card-text_nature">Dos piscinas completamente climatizadas tanto para mayores como para pequeños.</span>
                    </div>
                    <div class="pep-service-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales" title="Habitaciones individuales">
                        <span class="pep-service-card-text_bold">Alquiler de coches</span>
                        <span class="pep-service-card-text_nature">Podrá elegir dentro de una amplia gama de vehículos para alquiler.</span>
                    </div>
                    <div class="pep-service-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales" title="Habitaciones individuales">
                        <span class="pep-service-card-text_bold">Gimnasio</span>
                        <span class="pep-service-card-text_nature">Completamente equipado: para aquellos amantes del deporte.</span>
                    </div>
                    <div class="pep-service-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales" title="Habitaciones individuales">
                        <span class="pep-service-card-text_bold">Guía</span>
                        <span class="pep-service-card-text_nature">Servicio de guías para que descubra cada rincón de la ciudad.</span>
                    </div> -->
                </div>
                
            </div>
        </div>
    </section>

    <section class="pep-content">
        <div class="pep-room container">
            <div class="pep-room-text_bold-mediun">
                <span class="pep-text_bold-max">Nuestras habitaciones</span>
                <span class="pep-text_bold-regular">Deléitese con nuestras habitaciones, disponibles de los siguientes tipos:</span>
            </div>
            <div class="pep-room-cards">
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales" title="Habitaciones individuales">
                        <span class="pep-room-card-text_bold">Habitaciones individuales</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room2.jpg" alt="Habitaciones de matrimonio" title="Habitaciones de matrimonio">
                        <span class="pep-room-card-text_bold">Habitaciones de matrimonio</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room3.jpg" alt="Suite nupcial" title="Suite nupcial">
                        <span class="pep-room-card-text_bold">Suite nupcial</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room4.jpg" alt="Familiar" title="Familiar">
                        <span class="pep-room-card-text_bold">Familiar</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>