<div class="pep-dashboard">

    <section class="pep-register">
        <div class="pep-register-text">
            <span class="pep-text_rel pep-text_bold-max">Es hora de respirar</span>
            <div class="pep-register-text_text">
                <span class="pep-text_bold">
                    Nosotros nos encargamos de ofrecerte las mejores vistas
                    con un servicio impecable y al mejor precio.
                </span>
            </div>
            <div class="pep-register-text_text pep-register-btn">
                <a href="#" class="pep-btn_primary pep-text_bold" title="Register">Register</a>
                <a href="#" class="pep-btn_secundary pep-text_bold" title="Iniciar sesión">Iniciar sesión</a>
            </div>
        </div>
    </section>

    <section class="pep-content">
        <div class="pep-abaut container">
            <div class="pep-abaut-text">
                <span class="pep-text_bold-max">¿Como funciona?</span>
                <span class="pep-text_bold-regular">
                    Te abrimos las puertas a una selección de hoteles.
                </span>
                <span class="pep-text_bold-regular">
                    <ul>
                        <li><b>Registrate</b> para acceder a los hoteles.</li>
                        <li><b>Busca</b> tu destino.</li>
                        <li><b>Reserva</b> una habitación.</li>
                        <li><b>Valora</b> la estancia.</li>
                    </ul>
                </span>
            </div>
            <div class="pep-abaut-img">
                <img src="../../../assets/imgs/utilities/about_bg.jpg" alt="Sobre nosotros" title="Sobre nosotros">
            </div>
        </div>
    </section>

    <section class="pep-content">
        <div class="pep-info container">
            <div class="pep-info-cards">
                <div class="pep-info-elem">
                    <img src="../../../assets/imgs/services/calendar.svg" alt="Cancelación gratuita"
                        title="Cancelación gratuita">
                    <span class="">Cancelación gratuita</span>
                </div>
                <div class="pep-info-elem">
                    <img src="../../../assets/imgs/services/credit_card.svg" alt="Pago seguro" title="Pago seguro">
                    <span class="">Pago seguro</span>
                </div>
                <div class="pep-info-elem">
                    <img src="../../../assets/imgs/services/service.svg" alt="Servicio" title="Servicio">
                    <span class="">Servicio</span>
                </div>
                <div class="pep-info-elem">
                    <img src="../../../assets/imgs/services/like.svg" alt="Opiniones" title="Opiniones">
                    <span class="">Opiniones</span>
                </div>
                <div class="pep-info-elem">
                    <img src="../../../assets/imgs/services/question.svg" alt="Habitaciones individuales"
                        title="Habitaciones individuales">
                    <span class="">Ayuda</span>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="pep-content">
        <div class="pep-service">
            <div class="pep-room-text_bold-mediun">
                <span class="pep-text_bold-max">¿Necesitas inspiracion? (Hoteles)</span>
                <span class="pep-text_bold-regular">Hemos seleccionado más de 6500 hoteles para ti.</span>
            </div>
            <div class="pep-service-cards">
                <div class="pep-service-card container">
                   
                </div>
            </div>
        </div>
    </section> -->

    <section class="pep-content pep-color-primary">
        <div class="pep-room container">
            <div class="pep-room-text_bold-mediun">
                <span class="pep-text_bold-max">Habitaciones</span>
                <span class="pep-text_bold-regular">Diversas habitaciones para relajarse y descansar.</span>
            </div>
            <div class="pep-room-cards">
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales"
                            title="Habitaciones individuales">
                        <span class="pep-room-card-text_bold">Habitaciones individuales</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room2.jpg" alt="Habitaciones de matrimonio"
                            title="Habitaciones de matrimonio">
                        <span class="pep-room-card-text_bold">Habitaciones de matrimonio</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room3.jpg" alt="Suite nupcial"
                            title="Suite nupcial">
                        <span class="pep-room-card-text_bold">Suite nupcial</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room4.jpg" alt="Familiar" title="Familiar">
                        <span class="pep-room-card-text_bold">Familiar</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pep-content">
        <div class="pep-room container">
            <div class="pep-service-text_bold-mediun">
                <span class="pep-text_bold-max">Servicios</span>
                <span class="pep-text_bold-regular">Ofrecemos diversos servicios para su estancia.</span>
            </div>
            <div class="pep-service-cards">
                <div class="pep-service-card">
                    <div class="pep-service-card_content">
                        <img src="../../../assets/imgs/services/wifi_v2.svg" alt="Wifi" title="Wifi">
                        <span>Wifi</span>
                    </div>
                </div>
                <div class="pep-service-card">
                    <div class="pep-service-card_content">
                        <img src="../../../assets/imgs/services/cook.svg" alt="Restaurante" title="Restaurante">
                        <span>Restaurante</span>
                    </div>
                </div>
                <div class="pep-service-card">
                    <div class="pep-service-card_content">
                        <img src="../../../assets/imgs/services/social.svg" alt="Salón social" title="Salón social">
                        <span>Salón social</span>
                    </div>
                </div>
                <div class="pep-service-card">
                    <div class="pep-service-card_content">
                        <img src="../../../assets/imgs/services/pool.svg" alt="Piscina" title="Piscina">
                        <span>Piscina</span>
                    </div>
                </div>
                <div class="pep-service-card">
                    <div class="pep-service-card_content">
                        <img src="../../../assets/imgs/services/guia.svg" alt="Guía" title="Guía">
                        <span>Guía</span>
                    </div>
                </div>
                <div class="pep-service-card">
                    <div class="pep-service-card_content">
                        <img src="../../../assets/imgs/services/car.svg" alt="Alquiler de coches" title="Alquiler de coches">
                        <span>Alquiler de coches</span>
                    </div>
                </div>
                <div class="pep-service-card">
                    <div class="pep-service-card_content">
                        <img src="../../../assets/imgs/services/bike.svg" alt="Bicicletas eléctricas" title="Bicicletas eléctricas">
                        <span>Bicicletas eléctricas</span>
                    </div>
                </div>
                <div class="pep-service-card">
                    <div class="pep-service-card_content">
                        <img src="../../../assets/imgs/services/gym_v2.svg" alt="Gimnasio" title="Gimnasio">
                        <span>Gimnasio</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>