<div class="pep-dashboard">
<!-- <p>inicio</p> -->

    <div class="pep-register">
        <div class="pep-register-text">
            <span class="pep-text_rel pep-text_bold-max">Es hora de respirar</span>
            <div class="pep-register-text_text">
                <span class="pep-text_bold">
                    Nosotros nos encargamos de ofrecerte las mejores vistas 
                    con un servicio impecable y al mejor precio.
                </span>
            </div>
            <div class="pep-register-text_text pep-register-btn">
                <a href="#" class="pep-btn_primary pep-text_bold" title="Register">Register</a>
                <a href="#" class="pep-btn_secundary pep-text_bold" title="Iniciar sesión">Iniciar sesión</a>
            </div>
        </div>
    </div>

<!-- <p>Nuestras Habitaciones</p> -->
    <div class="container">
        <div class="pep-room">
            <div class="pep-room-text_bold-mediun">
                <span class="pep-text_bold-max">Nuestras habitaciones</span>
                <span class="pep-text_bold-regular">Deléitese con nuestras habitaciones, disponibles de los siguientes tipos:</span>
            </div>
            <div class="pep-room-cards">
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room1.jpg" alt="Habitaciones individuales">
                        <span class="pep-room-card-text_bold">Habitaciones individuales</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room2.jpg" alt="Habitaciones de matrimonio">
                        <span class="pep-room-card-text_bold">Habitaciones de matrimonio</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room3.jpg" alt="Suite nupcial">
                        <span class="pep-room-card-text_bold">Suite nupcial</span>
                    </div>
                </div>
                <div class="pep-room-card">
                    <div class="pep-room-card_img">
                        <img src="../../../assets/imgs/hotels/rooms/room4.jpg" alt="Familiar">
                        <span class="pep-room-card-text_bold">Familiar</span>
                    </div>
                </div>
            </div>
        </div>

    <!-- <p>Servidios Royal</p> -->



    <!-- <p>Sobre nosotros </p>  -->

        <div class="pep-abaut">
            <div class="pep-abaut-text">
                <span class="pep-text_bold-max">Sobre nosotros</span>
                <span class="pep-text_bold-regular">
                    Descanso Royal nació de un sueño: un gran hotel a buen precio 
                    que pudiera ofrecer un servicio excelente al mayor público posible. Con más de 20 años de 
                    experiencia en el sector, sin duda nos hemos convertido en referentes para la industria 
                    hotelera sevillana.
                </span>
                <span class="pep-text_bold-regular">
                    Nuestros trabajadores están disponibles durante todo el día 
                    para brindarte información sobre nosotros y nuestros servicios, así como para responder a tus 
                    preguntas, realizar reservas y atender tus solicitudes.
                </span>
            </div>
            <div class="pep-abaut-img">
                <img src="../../../assets/imgs/utilities/about_bg.jpg" alt="Sobre nosotros">
            </div>
        </div>
    </div>
</div>