<footer class="pep-footer">
    <div class="container">
        <!-- <div class="pep-footer-pages">
            <div class="header--item" *ngFor="let item of headerMenu.items">
                <a [routerLink]="item.url" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">{{item.title}}</a>
            </div>
        </div> -->
        <!-- <div class="pep-footer-info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, eligendi! Laudantium voluptas molestias
            iure voluptates! Tenetur voluptate, adipisci sequi a delectus dolorum? Repellendus, cupiditate. Corporis,
            modi! Blanditiis molestias omnis doloremque!
        </div> -->
        <div class="pep-footer-contact">
            Copyright © 2021 All Rights Reserved by Royal Hotel.
        </div>
    </div>
</footer>