$border-width: 1px;
$color-breakline:lightgray;
#footer {
    width: calc(100% - (#{$border-width}* 2));
    height: calc(7vh - (#{$border-width}* 2));
    min-height: 44px;
    border-top: $border-width solid $color-breakline;
}