.pep{
    &-footer{
        background-color: var(--text-clr-primary);
        color: var(--color-secondary);
        &-content{
            padding: 2rem 0 0;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        &-contact{
            padding: 1rem 0;
            text-align: center;
        }
    }
}