.testing {
    & .fonts{
        width: 100%;
        text-align: center;
        padding:20px;
        font-size: 60px;
        &--1 {
            font-family: 'B612';
        }
        &--2 {
            font-family: 'KoHo';
        }
        &--3 {
            font-family: 'Lato';
        }
        &--4 {
            font-family: 'WorkSans';
        }
        &--5 {
            font-family: 'Yatra';
        }
    }
}