<div class="details container">
    <div class="details-card-room-detail container">
        <div class="details-card-room_detail">
            <div class="details-card-img_detail">
                <img src="hola" alt="Sobre nosotros" title="Sobre nosotros">
                <div class="details-card-title_detail">
                    <div class="details-card-valoration_detail">
                        <!-- <span *ngFor="let value of counter(5); let i = index" style="width: 10px; height: 10px;">
                            <img *ngIf="i < item.valoration" src="../../../assets/imgs/icons/star2.svg"
                                alt="Valoración">
                            <img *ngIf="(i > item.valoration)||(i == item.valoration)"
                                src="../../../assets/imgs/icons/star1.svg" alt="Valoración">
                        </span> -->
                    </div>
                    <div class="details-card-valoration_detail-pvp">
                        <p>
                            titulo
                        </p>
                        <span class="bookings-searched-card-title_precio">
                            20€
                        </span>
                    </div>
                    <div class="details-card-descripcion_detail mt-2">
                        <p>
                            descripcion
                        </p>
                    </div>
                </div>
            </div>

            <div class="details-card-content_detail mt-4">
                <h4 class="mt-2">Hotel: Maria</h4>
                <div class="details-hotel">
                    <div class="details-hotel-img">
                        <img src="maria" alt="Hotel mis huevos">
                    </div>

                    <div class="details-hotel-content">
                        <div class="details-card-info-address">
                            <p>
                                adress+
                            </p>
                        </div>
                        <span class="details-hotel-content-hotel">
                            descripcion
                        </span>
                    </div>
                </div>
                <h1 class="mt-2">Iframe</h1>
                <div class="details-card-info-iframe mt-2">
                    <iframe src="https://www.google.es/" frameborder="0"></iframe>
                </div>
                <h1 class="mt-2">Servicios</h1>
                <div class="details-card-services_detail mt-2">
                    <span class="details-card-service_detail">
                        <input type="checkbox" id="checkbox1" name="checkbox01" disabled="disabled" checked="checked">
                        <label for="checkbox1" title="Todo OK">Todo OK</label>
                    </span>
                    <span class="details-card-service_detail">
                        <input type="checkbox" id="checkbox2" name="checkbox02" checked="checked">
                        <label for="checkbox2" title="Wifi">Wifi</label>
                    </span>
                    <span class="details-card-service_detail">
                        <input type="checkbox" id="checkbox3" name="checkbox03">
                        <label for="checkbox3" title="Desayuno">Desayuno</label>
                    </span>
                </div>
                <h1 class="mt-2">Comentarios</h1>
                <div class="details-comentarios">
                    <div class="details-comentarios-card">
                        <textarea id="comentario" name="comentario" rows="4" cols="50" maxlength="200"></textarea>
                        <button class="button--default">Enviar comentario</button>
                    </div>
                    <div class="details-comentarios-card">
                        <span class="details-comentarios-card_c">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis soluta quo in qui
                                ad reiciendis ut, deleniti inventore ipsum corporis ipsam enim repellendus optio
                                mollitia? Cupiditate tempore omnis placeat esse.</p>
                        </span>
                        <span class="details-comentarios-card_u">
                            <p>Usuario</p>
                            <p>05/11/2001</p>
                        </span>
                    </div>
                    <div class="details-comentarios-card">
                        <span class="details-comentarios-card_c">
                            <p>Comentarios : Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
                                soluta quo in qui ad reiciendis ut, deleniti inventore ipsum corporis ipsam enim
                                repellendus optio mollitia? Cupiditate tempore omnis placeat esse.</p>
                        </span>
                        <span class="details-comentarios-card_u">
                            <p>Usuario</p>
                            <p>02/11/2001</p>
                        </span>
                    </div>
                    

                </div>
                <!-- Servicios -->
                <div class="details-card-reservation_details">
                    <div class="details-card-reservation_btn">
                        <button class="button--danger">Cancelar</button>
                        <button class="button--default">Reservar</button>
                        <button class="button--info">Ir al detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>